<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
</environment>
@RenderSection("scripts", required: false)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/js/granim.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />

    
</head>
<body>
    <!--меню-->
    <div class="wrap">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Home/Index">
                        <img alt="Brand" src="https://specnomer.com/i/star.png">
                    </a>
                    <a href="~/Home/Index" class="navbar-brand"></a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                
                                <li><a href="~/Database/Categories"><span class="glyphicon glyphicon-link"></span> Категории</a></li>
                                <li><a href="~/Database/Posts"><span class="glyphicon glyphicon-heart-empty"></span> Публикации</a></li>
                                <li><a href="~/Account/Logout">Выйти</a></li>
                            }
                            else
                            {
                                <li><a href="~/Account/Login">Войти</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <!--основной контент-->
        <div class="container">

            @RenderBody() 
            
        </div>

    </div>
    <!--Футер-->
    <div class="footer">
        <div class="container">
            &copy; 2017 AliMine. All rights reserved.
        </div>
    </div>


    <!--jQuery-->
    <script src="~/lib/jquery/dist/jquery.js" charset="utf-8"></script>

    <script>
        var granimInstance = new Granim({
            element: '#canvas-image',
            direction: 'top-bottom',
            opacity: [1, .5, 0],
            isPausedWhenNotInView: true,
            states : {
                "default-state": {
                    gradients: [
                        ['#485563', '#29323c', '#29323c'],
                        ['#00c6ff', '#0072ff', '#0072ff']
                    ],
                    transitionSpeed: 10000
                }
            }
        });
    </script>
</body>
</html>
