:root{
    --monroecolor: rgba(51, 122, 183, 0.65);
}
#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/bg-forest.jpg");
    background-position-x: 50%;
}
html,
body {
    height: 100%;
    font-family:'Comic Sans MS';
    background-image:url(/images/back2.jpg);
    background-size: 100%
}

.navbar-default {
    background-color: rgba(248, 248, 248, 0.55);
}
.btn-primary {
    background-color: var(--monroecolor);
}
.panel-primary > .panel-heading {
    background-color: var(--monroecolor);
}
.panel {
    background-color: rgba(255, 255, 255, 0.65);
}

.footer {
    height: 60px;
    background-color: rgba(245, 245, 245, 0.30);
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
    
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.block {
    background: #eee;
    border: 1px solid #ccc;
}
hr{
    border-color: #ccc;
}
img {
    max-width: 100%;
    height: auto;
}




/* Валидация ошибок */
.field-validation-error {
    color: #337ab7;
}
  
.field-validation-valid {
    display: none;
}
  
input.input-validation-error {
    border: 2px solid #337ab7;
}
  
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
  
.validation-summary-errors {
    color: #b94a48;
}
  
.validation-summary-valid {
    display: none;
}

